<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>aiyun</display-name>
	<!-- <context-param>
		<param-name>appl.props.path</param-name>
		<param-value>classpath</param-value>
	</context-param> -->
	<context-param>
		<param-name>appl.props.type</param-name>
		<param-value>WEB_RESOURCE</param-value>
	</context-param>
	<servlet>
		<servlet-name>BaseServlet</servlet-name>
		<servlet-class>com.aiyun.common.control.web.BaseServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BaseServlet</servlet-name>
		<url-pattern>/BaseServlet/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>